* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  user-select: none;
  color: #2f5a69;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-1 {
  background-color: #c5675a;
  position: absolute;
  width: 70%;
  height: 93%;
  border-radius: 30px;
  border: 2px solid #361141;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 6px 6px 16px 4px rgba(0, 0, 0, 0.2),
    0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.fadeAway {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.main-heading {
  margin-top: 50px;
  font-size: 180px;
  background-image: linear-gradient(
    45deg,
    #0b2f7e,
    rgb(146, 53, 223),
    rgb(248, 33, 33)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.play-button {
  border: none;
  background-color: #f5eae0;
  margin-top: 200px;
  margin-bottom: 20px;
  padding: 35px 90px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 80px;
  color: #361141;
  transition-duration: 0.15s;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.25);
}

.play-button:hover {
  color: #f5eae0;
  background-color: #361141;
  transform: translate(0, -8px);
}

.screen-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #e0a458;
  position: absolute;
  z-index: 0;
}

.game-heading {
  font-size: 120px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: linear-gradient(
    45deg,
    #0b2f7e,
    rgb(146, 53, 223),
    rgb(248, 33, 33)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.playing-area {
  height: 670px;
  width: 610px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8de1e2;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.2);
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #b6eaeb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 25px;
}

.turn-info {
  align-self: flex-start;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.restart-button {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 20px;
  background-color: #f5eae0;
  color: #431551;
  /*transition: transform ease 125ms;*/
  transition-duration: 0.1s;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

.restart-button:hover {
  color: #f5eae0;
  background-color: #431551;
  transform: translate(0, -3px);
}

.board {
  width: 470px;
  height: 470px;
  background-color: #326273;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.cell {
  width: 150px;
  height: 150px;
  background-color: #8de1e2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: bold;
  color: #431551;
}

.cell.selected {
  cursor: auto;
}

.cell:not(.selected):hover {
  /*background-color: rgba(139, 139, 139, 0.74);*/
  background-color: #ebebeb83;
}

.cell.won {
  background-color: rgb(54, 207, 54);
}

.score {
  margin-top: 15px;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.points {
  text-align: center;
  font-size: 25px;
}

.screen-3 {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.winning-text {
  color: #f5eae0;
  font-size: 90px;
}

.play-again-button {
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 40px;
  color: #361141;
  background-color: #f5eae0;
  /*transition: transform ease 150ms;*/
  transition-duration: 0.15s;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.25);
}

.play-again-button:hover {
  color: #f5eae0;
  background-color: #361141;
  transform: translate(0, -7px);
}
